<div class="section">
    <div class="column">
        <div class="card is-half" style="background-color: #fdd;box-shadow: 0px 5px 3px  rgb(202, 202, 202);">
            <div class="card-content">
                <p class="title content has-text-centered">
                    Generete a live poll by simply entering the subject and the options
                </p>

            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <button id="btnMakePoll" class="card-footer-item button is-info is-large "><strong>Generate Live
                            Poll</strong></button>
                </p>
            </footer>
        </div>
    </div>
    <br>
    <br>
    <div class="column">
        <div class="card is-half card-primary "
            style="background-color: #fdd; box-shadow: 0px 5px 3px  rgb(202, 202, 202);">
            <div class="card-content">
                <p class="title content has-text-centered">
                    <strong>Enter Live Polling</strong>
                </p>

            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <input id="theId" class=" input is-rounded is-normal" type="text" placeholder="Enter Poll Id">
                </p>
                <!-- <p class="card-footer-item"> -->
                <button id="btnGoToPoll" class="card-footer-item button is-success is-large "><strong>Enter Live Poll</strong></button>
                <!-- </p>  -->
            </footer>
        </div>
    </div>
</div>
<script defer src="../app/home.js"></script>