<section class="hero is-small is-success mt-3">
    <div class="hero-body">
        <p class="title content has-text-centered is-1">
            Generate Live Poll
        </p>
        <p class="subtitle content has-text-centered ">
            Everything you need to <strong>create a poll</strong> on <strong>The Polling Booth</strong>
        </p>
    </div>
</section>

<div class="section">
    <div class="field">
        <label class="label">Enter Question</label>
        <div class="control">
            <textarea id="question" class="textarea is-primary" row="5" placeholder="Question"></textarea>
        </div>
    </div>

    <div class="field">
        <label class="label">Enter Options</label>
        <div class="control">
            <input id="option" class="input is-success" type="text" placeholder="Option">
        </div>
        <button style="margin-top:10px;" class="button is-danger" id="btnAdd">Add Option</button>
    </div>
    <ul class="menu-list" id="listOption"></ul>
    <br>
    <div id="pollForm"></div>
    <br>
    <div class="column is-half is-offset-one-quarter">

        <div class="control">
            <button id="btnSubmit" class="button is-link is-medium is-fullwidth">Submit</button>
        </div>


    </div>

</div>

<script src="../app/makePoll.js"></script>